* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}




.global_light{
    --color : (1,1,1);
    --intensity : (10);
    --position-set : (1,10,1);
}



#Main_Camera{
    --position: (0,-5,0);
    --refreshLook: 40;
    --lookAt: (0,0,0);
}

#_tTT-202_3{
    --position : (0,0,0);
    --geometry : @cube;
    --material-color : (1,1,1);
}





