* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

cell {
    display: inline-block;
    width: 800px;
    height: 600px;
}

cell > :not(canvas){
    display: none;
}


input {
    display: inline-block;
    width: 35px;
    height: 25px;
}


.ass:active{
    --material-color : (1,0,0);
    --lookAt : (0,0.5,0);
}

#dumb{
    --position : (0,1,-5);
    --scale : (1,1,1);
    --geometry : @cube; /*This is how we assign the mesh*/
    --material-color : (1,1,1) ;
    --material-transparent : 1;
    --material-opacity: 0.5;
    --transition-duration : 500;
    --transition-timing-fun : 'ease-out';
    /*TODO : Add (De-)Incremental*/
    /*--position-x : 2+/-*/
}

#dumb:hover{
    --scale : (2,2,2);
}



@keyframes someAnimationTesting {
    0%{
        --position-y : 2;
        --scale-x : 2;
    }
    25%{
        --position-y : 0;
        --scale-x : 4;
    }
    50%{
        --position-y : -2;
        --scale-x : 2;
    }
    75%{
        --position-y : 0;
        --scale-x : 4;
    }
    100% {
        --position-y : 2;
        --scale-x : 2;
    }
}