* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

cell {
    display: inline-block;
    width: 100%;
    height: 100%;
}

cell > :not(canvas){
    display: none;
}


.global_light{
    --color : (1,1,1);
    --intensity : (10);
    --position-set : (1,10,1);
}

#ghost_nav_place_block{
    --material-color : (0,0,1);
    --position : (1,1,1);
    --scale : (1,1,1);
    --geometry : @cube;

}



#building_floor{
    --position : (0,0,0);
    --material-color : (1,1,1);
    --scale : (185,185,1);
    --geometry : @plane;
    --rotation : (-1.5708,0,0);
}




#Main_Camera{
    --position: (15,20,15);
    --refreshLook: 40;
}

#Main_Camera:active{
    --lookAt: #building_floor-position;
}

.placed_block{
    --scale : (1,1,1);
    --geometry : @cube;
}
